
.wrapper_slider{
    width: 100%;
    height: 400px;
    .slider_wrapper{
        height: 100%;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}