.background {
  .main {
    display: flex;
    gap: 40px;
    .restrict {
      max-width: 800px;
      width: 100%;
      padding: 15px 30px;
      background: rgb(255, 255, 255);
      min-height: 500px;
      margin: 0em 4em 4em -0.7em;
      border-radius: 5px;
    }
  }
  
}
.caption {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #1b1d28;
    margin: 30px 0;
  }
  .product{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 25px;
    margin-bottom: 20px;
  }